# Secrets & Credentials
.clasprc.json
*.env
*.key
*.pem
*.token

# Logs & Temporary
*.log
.checkpoint.json
.machine-role.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Binary Audio
*.wav

# Python
__pycache__/
*.pyc
